:root {
    --sns-link-size: 200px;
    --sns-link-icon-size: 120px;
    --sns-link-icon-hover-size: 160px;
    --border-thickness: .4vw;
    --sm-object-rate: 1.5;
    --liver-image-size: 27vw;
    --description-width-size: 32vw;
    --description-white-width-size: 32vw;
    --angle: 0deg;
}



body {
    font-family: 'Apple Color Emoji', 'Inter', sans-serif;
}

.video-container {
    width: 100vw;
    height: 100vh;
}
video {
    height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-aspect-ratio: 6/5) {
    video {
        width: 150vw;
        height: auto;
    }
}
#skip-button {
    font-size: 4vw;
    position: fixed;
    bottom: 8vw;
    right: 8vw;
}
#skip-button:hover {
    opacity: .5;
}

.splash-background {
    position: fixed;
    background-color: #fdeaa5;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

img {
    position: relative;
}

.center-horizon {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
h1 {
    font-size: 4vw;
    font-family: YuGothic,'Yu Gothic',YuGothic,'Yu Gothic',sans-serif;
    margin-top: 2em;
    margin-bottom: 0;
    padding: 0;
}


header {
    position: relative;
    width: 100%;
    height: 100px;
}

strong {
    color: rgb(255, 225, 0);
}

.logo {
    margin-top: 2vw;
    position: relative;
    width: 250px;
    height: auto;
}

.background-image {
    background-image: url("images/backgroundImage.jpg");
    background-size: 100vw auto;
    background-size: auto 100vh;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    filter: saturate(45%);
}

@media (min-width: 1024px) {
    .background-image {
        animation: background-change 12s linear infinite; /* 回転アニメーションを適用 */
    }
}

@media screen and (min-aspect-ratio: 3/2) {
    .background-image {
        background-size: 100vw auto;
    }
}

.heart {
    width: auto;
    height: auto;
}
.heart img {
    /* モーションパスの設定 */
    offset-path: var(--scaled-path); /* 原点基準 */
    offset-rotate: 0deg;
    z-index: 5;
}
.heart img:nth-child(1),
.heart img:nth-child(2),
.heart img:nth-child(3),
.heart img:nth-child(4) {
    height: auto;
}
.heart img:nth-child(1) {
    width: 6vw;
    top: 65%;
    left: 19vw;
    animation: moveAlongPath 6s ease-in infinite;
}
.heart img:nth-child(2) {
    width: 5vw;
    top: 75%;
    left: 25vw;
    animation: moveAlongPath 5s ease-in infinite;
}
.heart img:nth-child(3) {
    width: 4vw;
    top: 85%;
    left: 20vw;
    animation: moveAlongPath 7s ease-in infinite;
}
.heart img:nth-child(4) {
    width: 4vw;
    top: 65%;
    left: 27vw;
    animation: moveAlongPath 8s ease-in infinite;
}

.sns-links {
    width: 80%;
    height: var(--sns-link-size);
    top: 0;
    margin-top: 100px;
    margin-bottom: 150px;
}

.sns-link {
    width: var(--sns-link-size);
    height: var(--sns-link-size);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 0;
}

.sns-link a {
    display: block;
    position: relative;
    width: var(--sns-link-size);
    height: var(--sns-link-size);
    border-radius: 50%;
}

.sns-link a:hover img {
    width: var(--sns-link-icon-hover-size);
}

.sns-link img {
    width: var(--sns-link-icon-size);
    border-radius: 50%;
    transition: width .3s ease;
    /* 2秒かけて変化する */
}

.content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.contents {
    width: 75%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.contents img {
    width: calc(var(--liver-image-size) - 1.5vw);
}

.liver-image::before {
    top: calc(50% - var(--liver-image-size)/2);
    content: "";
    position: absolute;
    width: var(--liver-image-size);
    height: var(--liver-image-size);
    border-radius: 100%;
    background: conic-gradient(
        from 0deg, /* 初期回転角度 */
        rgb(242, 51, 245) 0deg 120deg,        /* 左上 */
        rgb(70, 178, 255) 120deg 240deg,     /* 右上 */
        rgb(167, 231, 64) 240deg 360deg  /* 右下 */
    );
    mask-image: conic-gradient(
        from 0deg,
        transparent calc(360deg - var(--angle)) 0deg,
        rgb(242, 51, 245) 0deg
    );
    animation: rotate 5s linear infinite; /* 回転アニメーションを適用 */
    z-index: -1; /* 背景として配置 */
}
.liver-image-right::before {
    left: calc(75% - var(--liver-image-size)/2);
}
.liver-image-left::before {
    right: calc(75% - var(--liver-image-size)/2);
}
.liver-image {
    margin: 0;
}

.description {
    width: var(--description-width-size);
    height: calc(var(--description-width-size)/2);
    background-color: #FFFFFF;
}
.description span {
    font-size: calc(var(--description-width-size)/16);
    position: relative;
    display: block;
}
.description-white {
    width: var(--description-white-width-size);
    height: calc(var(--description-white-width-size)/2);
    background-color: #FFFFFF;
}
.description-white span {
    font-size: calc(var(--description-white-width-size)/16);
    position: relative;
    display: block;
}
.description-frame {
    height: var(--liver-image-size);
    margin: 0;
}

.description-pococha {
    clip-path: inset(0 -5000px 0 -5000px); /* 上、右、下、左 */
}

.description-white {
    border-radius: calc(var(--description-white-width-size)/10);
    padding: var(--border-thickness); /* ボーダーの幅 */
    padding: calc(var(--description-white-width-size)/32);
    box-sizing: border-box; /* パディングを含めたサイズ計算 */
    overflow: hidden; /* 擬似要素がはみ出さないようにする */
    align-items: center;
    justify-content: center;
}
.description-white-name {
    font-size: calc(var(--description-white-width-size)/10);
    text-decoration: underline;
    padding-bottom: calc(var(--description-white-width-size)/16);
}
/* 擬似要素による回転するグラデーションボーダー */
.description-white::before {
    content: "";
    position: absolute;
    top: -500px; /* ボーダーの幅より少し大きめに設定 */
    left: -500px;
    right: -500px;
    bottom: -500px;
    border-radius: inherit; /* 親要素と同じ角の丸み */
    background: conic-gradient(
        from 0deg, /* 初期回転角度 */
        rgb(242, 51, 245) 0deg 120deg,        /* 左上 */
        rgb(70, 178, 255) 120deg 240deg,     /* 右上 */
        rgb(167, 231, 64) 240deg 360deg  /* 右下 */
    );
    mask-image: conic-gradient(
        from 0deg,
        transparent calc(360deg - var(--angle)) 0deg,
        rgb(242, 51, 245) 0deg
    );
    animation: rotate 5s linear infinite; /* 回転アニメーションを適用 */
    z-index: -1; /* 背景として配置 */
}
/* 内部の白い背景を覆う擬似要素 */
.description-white::after {
    content: "";
    position: absolute;
    top: var(--border-thickness); /* ::before の padding と一致させる */
    left: var(--border-thickness);
    right: var(--border-thickness);
    bottom: var(--border-thickness);
    background-color: #FFFFFF; /* 内部を白く設定 */
    border-radius: inherit; /* 親要素と同じ角の丸み */
    z-index: -1; /* コンテンツより前面に表示 */
}
.fade-in {
    opacity: 0;
    transform: translate(-50%, 50%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translate(-50%, 0%);
}
.fade-out {
    animation: fadeOut 1s forwards; /* 0.5秒でフェードアウト */
}
/* フェードアウトのアニメーション */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none; /* 完全に消えたら非表示にする */
    }
}

.description-blue,
.description-comment {
    border: 0px solid;
    border-radius: calc(var(--description-width-size)/16);
    position: relative;
}
.description-blue::after,
.description-comment::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* 三角形を縦方向に中央揃え */
    border-style: solid;
}
.description-blue {
    color: #FFFFFF;
    background-color: rgba(85, 207, 255, 0.9); /* 背景色を50%透過 */
}
.description-blue::after {
    border-width: calc(var(--description-width-size)/10);
    right: calc(-1 * var(--description-width-size)/5 + .1vw); /* 親要素の外に三角形を配置 */
    border-color: transparent transparent transparent rgba(85, 207, 255, 0.9); /* 背景色と同じ色の右向き三角形 */
}
.description-comment {
    color: #000000;
    background-color: rgba(255, 255, 255, 1); /* 背景色を50%透過 */
    height: calc(var(--description-width-size)/4);
}
.description-comment::after {
    border-width: calc(var(--description-width-size)/14);
    left: calc(-1 * var(--description-width-size)/7 + .1vw); /* 親要素の外に三角形を配置 */
    border-color: transparent rgba(255, 255, 255, 1) transparent transparent; /* 背景色と同じ色の右向き三角形 */
}



.splash {
    z-index: 100;
    position: fixed;
}

.description-blue-1 {
    filter: saturate(100%);
    animation: description-blue-1-anime 20s ease infinite;
}
.description-comment-1 {
    animation: description-comment-1-anime 20s ease infinite;
}
.description-comment-2 {
    animation: description-comment-2-anime 20s ease infinite;
}
.description-blue-2 {
    animation: description-blue-2-anime 20s ease infinite;
}
.description-blue-1 strong {
    animation: strong-anime-1 20s ease infinite;
    display: inline-block;
}
.description-blue-2  strong {
    animation: strong-anime-2 20s ease infinite;
    display: inline-block;
}
@keyframes description-blue-1-anime {
    0%, 20%, 100% {
        top: 25%;
        opacity: 100%;
    }
    25%, 45% {
        top: 25%;
    }
    50%, 65% {
        top: 5%;
        opacity: 100%;
    }
    70%, 95% {
        top: -40%;
        opacity: 0%;
    }
}
@keyframes description-comment-1-anime {
    0%, 100% {
        top: -32%;
        opacity: 0%;
    }
    20% {
        top: 100%;
        opacity: 0%;
    }
    25%, 45% {
        top: 27%;
        opacity: 100%;
    }
    50%, 65% {
        top: 7%;
    }
    70%, 95% {
        top: -32%;
        opacity: 100%;
    }
}
@keyframes description-comment-2-anime {
    0%, 20%, 100% {
        top: -30%;
        opacity: 0%;
    }
    25%, 45% {
        top: 100%;
        opacity: 0%;
    }
    50%, 65% {
        top: 9%;
        opacity: 100%;
    }
    70%, 95% {
        top: -30%;
        opacity: 100%;
    }
}
@keyframes description-blue-2-anime {
    0%, 20%, 100% {
        top: -28%;
        opacity: 0%;
    }
    25%, 45% {
        top: 100%;
    }
    50%, 65% {
        top: 100%;
        opacity: 0%;
    }
    70%, 95% {
        top: -28%;
        opacity: 100%;
    }
}
@keyframes strong-anime-1 {
    0%, 15% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.1);
    }
    10% {
        transform: scale(1);
    }
}
@keyframes strong-anime-2 {
    75%, 90% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    85% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveAlongPath {
    0% {
        offset-distance: 0%;
        opacity: 0%;
    }
    10% {
        opacity: 100%;

    }
    90% {
        opacity: 100%;

    }
    100% {
        offset-distance: 100%;
        opacity: 0%;

    }
}

@keyframes background-change {
    5%,95%, 20%,30%, 45%,55%, 70%,80%{
        background-image: url("images/backgroundImage_white.jpg");
    }
    0%, 100%{
        background-image: url("images/backgroundImage.jpg");
    }
    25% {
        background-image: url("images/backgroundImage_violet.jpg");
    }
    50% {
        background-image: url("images/backgroundImage_yellow.jpg");
    }
    75% {
        background-image: url("images/backgroundImage_blue.jpg");
    }
}

.height-800px {
    height: 43vw;
}

.text-left {
    text-align: left;
    margin-left: 3%;
}



.smartphone img {
    position: absolute;
    display: flex;
    height: 36vw;
    width: auto;
}
.smartphone-frame img {
    height: 38vw;
    width: auto;
    z-index: 2;
}
.swiper {
    height: 36vw;
    top: 3vw;
    width: auto;
    z-index: 1;
    position: relative;
}

@keyframes fireworks-animation {
	0% {
		transform: translate(-50%, 90vh);
		width: .5vw;
		opacity: 1;
	}
	50% {
		width: .5vw;
		opacity: 1;
	}
	75% {
		width: 25vw;
		opacity: 1;
	}
    75%, 100% {
        opacity: 0;
    }
}

.c-firework,
.c-firework::before,
.c-firework::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	aspect-ratio: 1;
	background:
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 50% 0%,
    radial-gradient(circle, #ff0 10px, #000 0) 0% 50%,
    radial-gradient(circle, #ff0 10px, #000 0) 50% 99%,
    radial-gradient(circle, #ff0 10px, #000 0) 99% 50%,
    radial-gradient(circle, #ff0 10px, #000 0) 80% 90%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 95% 90%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 10% 60%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 31% 80%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 80% 10%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 90% 23%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 45% 20%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 13% 24%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 60% 70%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 40% 60%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 15% 10%,
    radial-gradient(circle, #fff 10px, #000 0) 85% 15%,
    radial-gradient(circle, #fff 10px, #000 0) 25% 85%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 75% 30%,
    radial-gradient(circle, #fff 10px, #000 0) 50% 40%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 90% 80%,
    radial-gradient(circle, #fff 10px, #000 0) 5% 95%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 70% 25%,
    radial-gradient(circle, #ff0 10px, #000 0) 10% 40%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 30% 10%,
    radial-gradient(circle, rgb(255, 255, 255) 10px, #000 0) 20% 20%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 75% 75%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 15% 70%,
    radial-gradient(circle, #ff0 10px, #000 0) 65% 35%,
    radial-gradient(circle, rgb(255, 170, 0) 10px, #000 0) 35% 65%,
    radial-gradient(circle, #fff 10px, #000 0) 45% 55%,
    radial-gradient(circle, rgb(255, 0, 0) 10px, #000 0) 55% 45%;
	background-size: .3vw .3vw;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	animation: fireworks-animation 8s infinite;
    z-index: 5;
}
.c-firework::before {
	transform: translate(-50%, -50%) rotate(25deg) !important;
}
.c-firework::after {
	transform: translate(-50%, -50%) rotate(-37deg) !important;
}



@media (max-width: 1024px) {
    :root {
        --sns-link-size: 100px;
        --sns-link-icon-size: 60px;
        --sns-link-icon-hover-size: 80px;
        --liver-image-size: 38vw;
        --description-width-size: 38vw;
        --description-white-width-size: 38vw;
        --border-thickness: .6vw;
    }
    h1 {
        font-size: 7vw;
    }
    .contents {
        width: 90%;
    }
    .logo {
        width: 150px;
    }
    .text-left {
        text-align: left;
        margin-left: 3%;
    }
    
    .height-800px {
        height: calc(43vw * var(--sm-object-rate));
    }
    .smartphone img {
        height: calc(36vw * var(--sm-object-rate));
    }
    .smartphone-frame img {
        height: calc(38vw * var(--sm-object-rate));
        width: auto;
    }
    .swiper {
        height: calc(36vw * var(--sm-object-rate));
        top: calc(3vw * var(--sm-object-rate));
    }

    @keyframes description-blue-1-anime {
        0%, 20%, 100% {
            top: 25%;
            opacity: 100%;
        }
        25%, 45% {
            top: 25%;
        }
        50%, 65% {
            top: 5%;
            opacity: 100%;
        }
        70%, 95% {
            top: -40%;
            opacity: 0%;
        }
    }
    @keyframes description-comment-1-anime {
        0%, 100% {
            top: -32%;
            opacity: 0%;
        }
        20% {
            top: 100%;
            opacity: 0%;
        }
        25%, 45% {
            top: 27%;
            opacity: 100%;
        }
        50%, 65% {
            top: 7%;
        }
        70%, 95% {
            top: -28%;
            opacity: 100%;
        }
    }
    @keyframes description-comment-2-anime {
        0%, 20%, 100% {
            top: -30%;
            opacity: 0%;
        }
        25%, 45% {
            top: 100%;
            opacity: 0%;
        }
        50%, 65% {
            top: 9%;
            opacity: 100%;
        }
        70%, 95% {
            top: -26%;
            opacity: 100%;
        }
    }
    @keyframes description-blue-2-anime {
        0%, 20%, 100% {
            top: -28%;
            opacity: 0%;
        }
        25%, 45% {
            top: 100%;
        }
        50%, 65% {
            top: 100%;
            opacity: 0%;
        }
        70%, 95% {
            top: -24%;
            opacity: 100%;
        }
    }
    
    .heart img:nth-child(1) {
        left: 22vw;
    }
    .heart img:nth-child(2) {
        left: 28vw;
    }
    .heart img:nth-child(3) {
        left: 23vw;
    }
    .heart img:nth-child(4) {
        left: 30vw;
    }
}
@media (max-width: 568px) {
    :root {
        --sns-link-size: 70px;
        --sns-link-icon-size: 42px;
        --sns-link-icon-hover-size: 56px;
        --liver-image-size: 65vw;
        --description-width-size: 42vw;
        --description-white-width-size: 55vw;
    }
    #skip-button {
        font-size: 7vw;
    }
    .flex-reverse {
        flex-direction: column-reverse;
    }
    .flex-reverse .description-frame {
        top: 0;
        transform: translate(-50%, 0);
    }
    .description-frame {
       height: calc(3 * var(--liver-image-size) / 5);
    }
    .flex-reverse img {
        transform: translate(-50%, 0);
        top: .8vw;
    }
    .liver-image-left::before,
    .liver-image-right::before {
        top: calc(25% - var(--liver-image-size)/2);
        top: 0;
    }
    .liver-image-right::before {
        left: calc(50% - var(--liver-image-size)/2);
    }
    .liver-image-left::before {
        right: calc(50% - var(--liver-image-size)/2);
    }
    .description-white {
        top: 40%;
    }
    .contents {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .content {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .c-firework,
    .c-firework::after,
    .c-firework::before {
        top: 0%;
    }

    @keyframes fireworks-animation {
        0% {
            transform: translate(-50%, 80vh);
            width: .5vw;
            opacity: 1;
        }
        50% {
            width: .5vw;
            opacity: 1;
        }
        75% {
            width: 35vw;
            opacity: 1;
        }
        75%, 100% {
            opacity: 0;
        }
    }
}